:root {
  --color-primario: #ef8a3a;
  --color-secundario: #111518;
  --color-terciario: #13171a;
  --color-adicional-1: #232426;
  --color-adicional-2: #4c4c4c;
  --color-adicional-3: #ffffff;
  --color-adicional-4: #d02514;
}

.h1-orders {
  background-color: var(--color-primario);
  text-align: center;
  color: var(--color-adicional-3);
  padding: 10px;
}

.total {
    color: var(--color-primario);
}

.date {
    background-color: var(--color-adicional-2);
    font-size: 12px;
}

.number {
    font-size: 15px;
}

.form-control {
  width: auto;
}

.account-info {
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
}

.table-responsive {
  overflow-x: auto;
}

table input.form-control {
  width: 100%;
  max-width: 100%;
}

input.form-control.form {
  max-width: 150px;
}

@media (max-width: 576px) {
  table thead {
    display: none;
  }

  table tbody tr {
    display: block;
    margin-bottom: 10px;
  }

  table tbody tr td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #dee2e6;
  }

  table tbody tr td:before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
  }

  table tbody tr td input {
    max-width: 100%;
  }
}