:root {
  --color-primario: #ef8a3a;
  --color-secundario: #111518;
  --color-terciario: #13171a;
  --color-adicional-1: #232426;
  --color-adicional-2: #4c4c4c;
  --color-adicional-3: #ffffff;
  --color-adicional-4: #d02514;
}

.h1-orders {
  background-color: var(--color-primario);
  text-align: center;
  color: var(--color-adicional-3);
  padding: 10px;
}

.order {
  color: var(--color-primario);
}

.order-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.order-container ul {
  list-style-type: none;
  padding-left: 0;
}

.order-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;

}

.order-item h2 {
  margin-top: 0;
}

.order-item p {
  margin: 5px 0;
}

.order-item ul {
  list-style: none;
  padding: 0;
}

.order-item li {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.order-item li:last-child {
  border-bottom: none;
}

.order-item h3 {
  margin-top: 15px;
}

.loading, .error {
  text-align: center;
  margin-top: 20px;
}


.close-button-class:hover {
  background-color: #b1190b;
}

#root > main > div.order-container > section > ul {
  padding: 0;
}

@media (max-width: 576px) {
  table thead {
    display: none;
  }

  table tbody tr {
    display: block;
    margin-bottom: 10px;
  }

  table tbody tr td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #dee2e6;
  }

  table tbody tr td:before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
  }

  table tbody tr td input {
    max-width: 100%;
  }
}