.location-map-heading {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.leaflet-container {
  width: 100%;
  max-width: 100dvw;
  height: 500px;
  z-index: 0 !important;
}

.iconoLeaflet {
  margin-top: -12px;
  margin-top: -41px;
  width: 25px;
  height: 41px;
}
