.h1-pedidos {
  background-color: var(--color-primario);
  text-align: center;
  color: var(--color-adicional-3);
  padding: 10px;
}

section.d-flex {
  background-color: #333;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.state {
  background-color: var(--color-secundario);
  margin: 0px 10px 0px 10px;
  padding: 5px;
  border-radius: 5px;
}

.name {
    margin: 0px 20px 0px 20px;
}